.start-page #suchleiste{
    background-color: lightgrey;
    width: 100%;
    text-align: right;
    /*height: auto;*/
    /*horiz-align: right;*/
}

.start-page img{
    width: 10em;
    height: auto;
}

.start-page #karte{
    width: 100%;
    height: 400px;
    background-color: grey;
    /*z-index: 1;*/
}

.start-page .profil{
    width: 10em;
    background: grey;
    margin: 1em;
    padding: 0.5em;

}

.start-page .suche{
    size: 100em;
    margin: 0.2em;
}

.start-page #liste{
    position: relative;
}

.start-page #lizenz{
    background: lightgrey;
}
