#app {
  background-color: var(--main-background-color);
  display: flex;
  flex-flow: column;
  height: 100%;
}

/*
 * Kopfbereich über dem Inhalt
 */
#app header {
  width: 100%;
  background-color: var(--header-normal-background-color);
  color: var(--header-normal-font-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  position: sticky;
  top: 0;
  flex: 0 1 auto;
}

#app header a,
#app header a:visited {
  color: var(--header-normal-font-color);
  text-decoration: none;
}

#app header a:hover {
  color: var(--header-active-font-color);
  text-decoration: underline;
}

#app header input {
  background: none;
  color: var(--header-normal-font-color);
  border: 0;
}

#app header .rechts{
  float: left;
  margin: 0.5em;
}

#app header li{
  list-style: none;
}

#app header ul{
  padding-left: 0em;
}

/*
 * Hauptinhalt
 */
#app main {
  width: 100%;
  padding-top: 1em;
  background-color: var(--main-background-color);
  flex: 1 1 auto;
}

/*
 * Footer
 */
#app footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: var(--footer-background-color);
  height: 2em;
  flex: 0 1 40px;
}