html {
  --font-color:                     black;
  --highlight-background-color:     rgba(235, 235, 235, 1.0);

  --header-normal-background-color: #00b297;
  --header-normal-font-color:       rgba(255,255,255, 0.8);
  --header-active-background-color: rgba(255,255,255, 0.2);
  --header-active-font-color:       rgba(255,255,255, 0.9);
  
  --main-background-color:          #97d3bf;
  --footer-background-color:        #cecece;
}
